<div class="flex h-screen">
  <!-- Sidebar -->
  <div class="fixed left-0 top-16 bottom-0 w-64 bg-gray-800 text-white p-4 rounded-r-2xl mx-2 my-2">
    <div class="h-16 flex items-center px-4">
      <h1 class="text-xl font-bold">Supplier Panel</h1>
    </div>
    <ul class="space-y-3 mt-6">
      <li><a [routerLink]="['/supplier/supdashboard']" routerLinkActive="bg-gray-700" class="flex items-center p-3 rounded-lg"><i class="fas fa-tachometer-alt mr-3"></i>Dashboard</a></li>
      <li><a [routerLink]="['/supplier/suporders']" routerLinkActive="bg-gray-700" class="flex items-center p-3 rounded-lg"><i class="fas fa-clipboard-list mr-3"></i>Orders</a></li>
      <li><a [routerLink]="['/supplier/supinvoices']" routerLinkActive="bg-gray-700" class="flex items-center p-3 rounded-lg"><i class="fas fa-chart-bar mr-3"></i>Invoices</a></li>
    </ul>

    <ul class="space-y-2 mt-45">
        <hr class="h-px my-3 bg-white border-1 dark:bg-gray-700">
      <li><a [routerLink]="['/supplier/supsettings']" routerLinkActive="bg-gray-700" class="flex items-center p-3 rounded-lg"><i class="fas fa-cog mr-3"></i>Settings</a></li>

      <button class="w-full bg-red-600 hover:bg-red-700 text-white p-2 rounded-lg transition flex items-center justify-center space-x-2" (click)="confirmLogout()">
        <i class="fas fa-sign-out-alt"></i>
      <span>Log Out</span>
    </button>
    </ul>

    
  </div>
</div>